<li class="task-item">
  <input type="checkbox"
         class="task-checkbox">
  <div class="task">
    <span class="task-text">Task description</span>
    <input type="text"
           class="edit-input">
  </div>
  <div class="actions">
    <button class="edit-button">Edit</button>
    <button class="delete-button">Delete</button>
  </div>
</li>
<li class="task-item completed">
  <input type="checkbox"
         class="task-checkbox">
  <div class="task">
    <span class="task-text">Task description</span>
    <input type="text"
           class="edit-input">
  </div>
  <div class="actions">
    <button class="edit-button">Edit</button>
    <button class="delete-button">Delete</button>
  </div>
</li>
<li class="task-item editing">
  <input type="checkbox"
         class="task-checkbox">
  <div class="task">
    <span class="task-text">Task description</span>
    <input type="text"
           class="edit-input">
  </div>
  <div class="actions">
    <button class="edit-button">Edit</button>
    <button class="delete-button">Delete</button>
  </div>
</li>
